@keyframes alex-gallery-loading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.alex-gallery-upload-box {
    position: relative;
    width: 100%;
    display: inline-block;
}
    .alex-gallery-upload-box .upload {
        position: relative;
        padding: 0 30px;
        height: 200px;
        box-sizing: border-box;
        border: 2px dashed #c2c2c2;
        border-radius: 8px;
    }
        .alex-gallery-upload-box .upload .files {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            color: #000;
            font-size: 14px;
            line-height: 21px;
        }
            .alex-gallery-upload-box .upload .files .format {
                color: #666;
            }
        .alex-gallery-upload-box .upload input[type="file"] {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: block;
            opacity: 0;
            z-index: 1;
            cursor: pointer;
        }
    .alex-gallery-upload-box .preview {
        margin: 20px 0 0 0;
        width: 100%;
        display: inline-block;
        overflow: hidden;
        text-align: left;
    }
        .alex-gallery-upload-box .preview > .item {
            position: relative;
            margin: 0 10px 10px 0;
            float: left;
            width: 100px;
            height: 100px;
            display: block;
            overflow: hidden;
            box-sizing: border-box;
            background-size: cover;
            background-position: center center;
            background-origin: border-box;
            background-color: #eee;
            cursor: move;
            cursor: grab;
            cursor: -moz-grab;
            cursor: -webkit-grab;
        }
        .alex-gallery-upload-box .preview > .item:hover,
        .alex-gallery-upload-box .preview > .item.loading {
            opacity: 0.8;
        }
        .alex-gallery-upload-box .preview > .item.loading:after {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: -15px 0 0 -15px;
            width: 30px;
            height: 30px;
            display: inline-block;
            content: '';
            border: 3px solid #fff;
            border-top: 3px solid #999;
            border-radius: 50%;
            animation: alex-gallery-loading 2s linear infinite;
        }
            .alex-gallery-upload-box .preview > .item input[type="file"] {
                position: absolute;
                left: -9999px;
                opacity: 0;
            }
            .alex-gallery-upload-box .preview > .item .buttons {
                position: absolute;
                top: 0;
                right: 0;
                height: 28px;
                display: none;
                overflow: hidden;
                border-radius: 0 0 0 14px;
                background-color: #fff;
            }
            .alex-gallery-upload-box .preview > .item:hover .buttons {
                display: block;
            }
                .alex-gallery-upload-box .preview > .item .buttons .button {
                    position: relative;
                    width: 28px;
                    height: 28px;
                    display: inline-block;
                }
                .alex-gallery-upload-box .preview > .item .buttons .button:hover {
                    background-color: #eee;
                }
                .alex-gallery-upload-box .preview > .item .buttons .button:after {
                    position: absolute;
                    top: 4px;
                    width: 20px;
                    height: 20px;
                    display: block;
                    cursor: pointer;
                    content: '';
                    opacity: 0.8;
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    background-size: 20px 20px;
                }
                .alex-gallery-upload-box .preview > .item .buttons .button_preview:after {
                    left: 5px;
                    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3C!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 490.8 490.8' style='enable-background:new 0 0 490.8 490.8;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M364.8,299.55c46.3-75.8,36.9-176.3-28.6-241.9c-76.8-76.8-201.8-76.8-278.6,0s-76.8,201.8,0,278.5 c65.5,65.5,166,74.9,241.9,28.6L412,477.25c18,18,47.3,18,65.3,0s18-47.3,0-65.3L364.8,299.55z M295.5,295.55 c-54.4,54.4-142.8,54.4-197.1,0c-54.4-54.4-54.4-142.8,0-197.1c54.4-54.4,142.8-54.4,197.1,0 C349.8,152.75,349.8,241.15,295.5,295.55z M220,171.95h59.4v45.3H220v59.4h-45.3v-59.4h-59.3v-45.3h59.4v-59.4h45.3v59.4H220z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3Cg%3E%3C/g%3E%3C/svg%3E%0A");
                }
                .alex-gallery-upload-box .preview > .item .buttons .button_delete:after {
                    left: 4px;
                    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 26 26" version="1.1" width="26px" height="26px"><g id="surface1"><path style=" " d="M 13 0.1875 C 5.925781 0.1875 0.1875 5.925781 0.1875 13 C 0.1875 20.074219 5.925781 25.8125 13 25.8125 C 20.074219 25.8125 25.8125 20.074219 25.8125 13 C 25.8125 5.925781 20.074219 0.1875 13 0.1875 Z M 18.78125 17.394531 L 17.390625 18.78125 C 17.136719 19.035156 16.722656 19.035156 16.46875 18.78125 L 13 15.3125 L 9.53125 18.78125 C 9.277344 19.035156 8.863281 19.035156 8.609375 18.777344 L 7.21875 17.394531 C 6.96875 17.136719 6.96875 16.726563 7.21875 16.46875 L 10.6875 13 L 7.222656 9.535156 C 6.96875 9.277344 6.96875 8.863281 7.222656 8.609375 L 8.609375 7.222656 C 8.863281 6.964844 9.28125 6.964844 9.535156 7.222656 L 13 10.6875 L 16.46875 7.222656 C 16.722656 6.964844 17.140625 6.964844 17.390625 7.222656 L 18.78125 8.605469 C 19.035156 8.863281 19.035156 9.277344 18.78125 9.535156 L 15.3125 13 L 18.78125 16.46875 C 19.03125 16.726563 19.03125 17.136719 18.78125 17.394531 Z "/></g></svg>');
                }